

/* text font add */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
.allura-regular {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
}






.body{
    margin: 50px 50px;
    background-color: black;
    color: white;
}


/* share styles */
.btn-primary {
    color: white;
    background-color: #E6533C;
    width: 92px;
    height: 38px;
    border: 0px;
    border-radius: 46px;
    padding: 8px, 20px, 8px, 20px;
    gap: 10px;
}


.title-primary {
    align-items: center;
    font-size: 48px;
    font-weight: 900;
}

.description-primary {
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    ;
    
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 20px;
}
nav li a {
   text-decoration: none;
}
.nav-title {
    font-weight: 800px;
    font-size: 36px;
    color: #E6533C;
    font-style: italic;
}

.menu-radius {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    border-radius:  46px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 5px 10px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

nav ul li a {
    color: white;
}

/* Mobile menu style */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    background-color: #333;
    color: white;
}
.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}



/* hero section design */

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}
.hero-section-content > * {
    margin-bottom: 20px;
}

.hero-section-title {
    font-size: 78px;
    font-weight: 900px;
}


.hero-section-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    ;
}
.hero-buttons {
    display: flex;
    gap: 20p0x;
}

.btn-hero{
    color: white;
    background-color: #E6533C;
    width: 210px;
    height: 38px;
    border: 0px;
    border-radius: 46px;
    padding: 16px, 40px, 16px, 40px;
    gap: 10px;
    font: 16px;
}
.btn-hero2{
    color: white;
    background-color: transparent;
    width: 210px;
    height: 38px;
    border: 1px solid white;
    border-radius: 46px;
    padding: 16px, 40px, 16px, 40px;
    font: 16px;
}


.hero-profile{
    size: 350px;

}
.btn-card {
    width: 193px;
    height: 98px;
    border: 1px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.236);
   
    
}




.btn-card2 {
    width: 193px;
    height: 98px;
    border: 1px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.236);
   
    
}

.experience-year {
    font-size: 40px;
    font-weight: 900;
    color: white;
    
}

.experience-work {
    font-size: 13px;
    font-weight: 400;
    color: white;
    
}


/* habit section design */

.habits {
    align-items: center;
    margin: 20px 20px;

    
}
.habits-title{
    align-items: center;
    text-align: center;
    margin-top: 20px;
    font-size: 48px;
    font-weight: 900;
}

.habits-descriptions {
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    ;
    margin-bottom: 20px;
}

/* habit image box  */

.habit-image-box{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
}
.habit-image-card {
    align-items: center;
    width: 180px;
    height: 180px;
    border: 3px;
    border-radius: 1000px;
}
.habit-box-title {
    text-align: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;

}
.habit-box-descriptions{
    text-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    
}



/* run section start  */

.run-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1c1c1c;
    padding: 40px;
    border-radius: 10px;
    margin: 50px 50px;
}
.run-content {
    max-width: 50%;
    color: white;
}

.run-content h2 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}
.run-descriptions{
    color: rgba(255, 255, 255, 0.5);
    ;
}
.run-banner-image {
    max-width: 45%;
    border-radius: 10px;
}

.btn-run {
    background-color: #E6533C;
    color: white;
    padding: 16px 40px;
    cursor:pointer;
    font-size: 1em;
    border-radius: 40px;

}

/* exerciese section design */
.trainings {
    display: flex;
    flex-direction: column;
    margin: 30px 0 30px 0;
}
.row {
    display: flex;
    height: 300px;
    
}

.training-item {
    position: relative;
    flex: 1;
    overflow: hidden;
}
.training-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.overlay {
    margin: 0;
    font-size: 14px;
}

.item1 .overlay {
    background-color: rgba(6, 255, 210, 0.5);
    }

    .item1 .overlay {
        background-color: rgba(6, 255, 210, 0.5);
        }
.item2 .overlay {
    background-color: rgba(255, 0, 210, 0.3);
    }

    
.item3 .overlay {
        background-color: rgba(0, 0, 0, 0.5);
        }    

.item4 .overlay {
            background-color: rgba(120, 120, 255, 0.6);
            }
.item5 .overlay {
    background-color: rgba(66, 255, 0, 0.3);
 }

 .item6 .overlay {
    background-color: rgba(0, 71, 255, 0.3);
 }

/* BMI Calculator sectionn */

.bmi {
    
    text-align: center;
    justify-content: space-between;
    margin: 50px 0 50px 0;
    
}

.bmi-section-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1c1c1c;
    padding: 40px;
    border-radius: 10px;
    margin: 50px 50px;
}

.bmi-title {
    align-items: center;
    font-size: 35px;
    font-weight: 900;
}
.bmi-section {
    text-align: center;
}

.bmi-chart {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.bmi-chart th, .bmi-chart td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.bmi-chart th {
    background: rgba(255, 255, 255, 0.1);
    font-weight: bold;
}

.bmi-chart tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.1);

}

.bmi-chart tr:hover {
    background: rgba(255, 255, 255, 0.1);

}


.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
     width: 80%;
     margin: 20px;
}

.signup-form input {
    justify-content: center;
    width: 50%;
    margin: 10px;
    padding: 20px;
    border-width: 1px;
    border-radius: 8px;
    border-color: white;
    background-color: transparent;
}
.form-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.from-input {
    width: 48%;
    padding: 10px;
}
.button-container {
    
    justify-content: center;
    width: 100%;
}
.btn-form {
    color: white;
    background-color: #E6533C;
    margin: 10px;
    width: 92px;
    height: 38px;
    border: 0px;
    border-radius: 10px;
    padding: 16px, 40px, 16px, 40px;
    gap: 10px;
}












/* Responsive for the Mobile */
@media screen and (max-width: 576px) {
    .menu-radius {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #333;
        width: 200px;
    }

    .title-primary {
        font-size: 20px;
    }
    .menu-radius.active {
        display: flex;

    }
    .menu-radius li {
        margin: 15px 0;
        text-align: center;
    }
    .menu-toggle {
        display:flex;
    }

    /* for the hero section */

    .hero-section{
        flex-direction: column;
        align-items: center;
        padding: 20px;
        
    }
    .hero-section-title {
        font-size: 30px;
        font-weight: 900px;
    }

    .hero-section-description{
        font-size: 16px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        ;
    }
    .hero-buttons {
        display: flex;
        align-items: center;
        gap: 20px 0 20px 0;
    }
    
    .btn-hero{
        color: white;
        background-color: #E6533C;
        width: 210px;
        height: 38px;
        border: 0px;
        border-radius: 46px;
        padding: 16px, 40px, 16px, 40px;
        gap: 10px;
        font: 16px;
        margin: 10px 0px 10px 0;
    }
    .btn-hero2{
        color: white;
        background-color: transparent;
        width: 210px;
        height: 38px;
        border: 1px solid white;
        border-radius: 46px;
        padding: 16px, 40px, 16px, 40px;
        font: 16px;
    }
    
    
    .hero-profile{
        size: 250px;
    
    }
    

    /* habit section for the mobile responsive */

    .habits-title{
        align-items: center;
        text-align: center;
        margin-top: 20px;
        font-size: 32px;
        font-weight: 900;
    }

    .habit-image-box{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 20px 20px;
    }
    

    /* run section responsive for the mobile */
    .run-section {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #1c1c1c;
        padding: 5px;
        border-radius: 10px;
        margin: 50px 50px;
    }

    .run-content {
        max-width: 80%;
        color: white;
    }
    
    .run-content h2 {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .run-descriptions{
        color: rgba(255, 255, 255, 0.5);
        ;
        size: 13px;
    }
    .run-banner-image {
        max-width: 85%;
        border-radius: 10px;
        padding: 20px 20px;
    }
    
    .btn-run {
        background-color: #E6533C;
        color: white;
        padding: 16px 40px;
        cursor:pointer;
        font-size: 1em;
        border-radius: 40px;
    
    }



    .trainings {
        flex-direction: column;
        margin: 30px 0 30px 0;
    }
    .row {
        flex-direction: column;
        height: 600px;
        
    }



    /* BMI Calculator sectionn */

.bmi {
    
    text-align: center;
    justify-content: space-between;
    margin: 50px 0 50px 0;
    
}

.bmi-section-main {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #1c1c1c;
    padding: 40px;
    border-radius: 10px;
    margin: 50px 50px;
}

.bmi-title {
    align-items: center;
    font-size: 20px;
    font-weight: 900;
}
.bmi-section {
    text-align: center;
}

.bmi-chart {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.bmi-chart th, .bmi-chart td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.bmi-chart th {
    background: rgba(255, 255, 255, 0.1);
    font-weight: bold;
}

.bmi-chart tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.1);

}

.bmi-chart tr:hover {
    background: rgba(255, 255, 255, 0.1);

}


.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
     width: 90%;
     margin: 10px;
}

.signup-form input {
    justify-content: center;
    width: 80%;
    margin: 10px;
    padding: 20px;
    border-width: 1px;
    border-radius: 8px;
    border-color: white;
    background-color: transparent;
}
.form-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.from-input {
    width: 48%;
    padding: 10px;
}
.button-container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.btn-form {
    color: white;
    background-color: #E6533C;
    margin: 10px;
    width: 92px;
    height: 38px;
    border: 0px;
    border-radius: 10px;
    padding: 16px, 40px, 16px, 40px;
    gap: 10px;
}

}
    






/* exerciese section design */




/* * Responsive for the Tablet */ *

