
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}


/* nav styles */
nav {
    display: flex;
}
.nav-title {
    font-weight: 800px;
    font-size: 36px;
    color: #E6533C;
    font-style: italic;
}